[submodule "TP1_Inferencia_Estadistica"]
	path = TP1_Inferencia_Estadistica
	url = https://github.com/IgnacioPardo/TP1_Inferencia_Estadistica
[submodule "TP2_Inferencia_Estadistica"]
	path = TP2_Inferencia_Estadistica
	url = https://github.com/IgnacioPardo/TP2_Inferencia_Estadistica
[submodule "TP3_Inferencia_Estadistica"]
	path = TP3_Inferencia_Estadistica
	url = https://github.com/IgnacioPardo/TP3_Inferencia_Estadistica
